@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .portal {
    @apply hover:bg-gradient-to-r hover:from-[#88e23b] hover:via-[#acfa70] hover:via-30% hover:via-[#69e882] hover:via-50% hover:via-[#acfa70] hover:via-70% hover:to-[#88e23b] hover:shadow-xl hover:shadow-[#88e23b];
  }
}
